@model WebDichVu.Datas.LichLamViec

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>LichLamViec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BacSiThuYid" class="control-label"></label>
                <select asp-for="BacSiThuYid" class ="form-control" asp-items="ViewBag.BacSiThuYid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ngay" class="control-label"></label>
                <input asp-for="Ngay" class="form-control" />
                <span asp-validation-for="Ngay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioBatDau" class="control-label"></label>
                <input asp-for="GioBatDau" class="form-control" />
                <span asp-validation-for="GioBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioKetThuc" class="control-label"></label>
                <input asp-for="GioKetThuc" class="form-control" />
                <span asp-validation-for="GioKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
