@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <script type="text/javascript">
        // Tự động chuyển hướng đến /Profile/Index
        window.location.href = '/Profile/Index';
    </script>
</head>
<body>
</body>
</html>
