
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<!-- partial -->
 <div>

 </div> 
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> Dashboard
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/LayoutAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Doanh Thu Tuần <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">140.000.000 VNĐ</h2>
                        <h6 class="card-text">Tăng 60%</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/LayoutAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                            Đơn Đặt <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">334</h2>
                        <h6 class="card-text">Tăng 10%</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                        <img src="~/LayoutAdmin/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                        <h4 class="font-weight-normal mb-3">
                           Khách Truy Cập Trực Tuyến <i class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">95,5741</h2>
                        <h6 class="card-text">Tăng 20%</h6>
                    </div>
               </div>
                        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Khách Hàng Gần Đây</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Tên </th>
                                        <th> Bệnh Của Cá </th>
                                        <th> Trạng Thái </th>
                                        <th> Ngày Cập Nhật </th>
                                        <th> ID </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                        <img src="~/LayoutAdmin/assets/images/faces/face4.jpg" class="me-2" alt="image"> Lê Minh Tuấn
                                        </td>
                                    <td> Bệnh rận cá </td>
                                        <td>
                                            <label class="badge badge-gradient-success">Đã Xong</label>
                                        </td>
                                        <td> Dec 5, 2024 </td>
                                        <td> WD-12345 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        <img src="~/LayoutAdmin/assets/images/faces/face2.jpg" class="me-2" alt="image"> Trần Thị Bích
                                        </td>
                                    <td> Trùng mỏ neo </td>
                                        <td>
                                            <label class="badge badge-gradient-warning">Đang Theo Dõi</label>
                                        </td>
                                        <td> Dec 12, 2024 </td>
                                        <td> WD-12346 </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        <img src="~/LayoutAdmin/assets/images/faces/face3.jpg" class="me-2" alt="image"> Nguyễn Văn Hòa
                                        </td>
                                    <td> Bệnh đốm trắng </td>
                                        <td>
                                            <label class="badge badge-gradient-info">Đang Theo Dõi</label>
                                        </td>
                                        <td> Dec 16, 2024 </td>
                                        <td> WD-12347 </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cập Nhật Các Loại Cá Mới</h4>
                        <div class="d-flex">
                            <div class="d-flex align-items-center me-4 text-muted font-weight-light">
                                <i class="mdi mdi-account-outline icon-sm me-2"></i>
                                <span>Nhóm A</span>
                            </div>
                            <div class="d-flex align-items-center text-muted font-weight-light">
                                <i class="mdi mdi-clock icon-sm me-2"></i>
                                <span>October 3rd, 2024</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 pe-1">
                                <img src="~/LayoutAdmin/assets/images/dashboard/ca1.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                <img src="~/LayoutAdmin/assets/images/dashboard/ca2.jpg" class="mw-100 w-100 rounded" alt="image">
                            </div>
                            <div class="col-6 ps-1">
                                <img src="~/LayoutAdmin/assets/images/dashboard/ca3.jpg" class="mb-2 mw-100 w-100 rounded" alt="image">
                                <img src="~/LayoutAdmin/assets/images/dashboard/ca4.jpg" class="mw-100 w-100 rounded" alt="image">
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">KPI Của Các Bác Sĩ   </h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Tên </th>
                                        <th> Ngày Hết Hạn </th>
                                        <th> Tiến Trình </th>
                                    <th>  Chuyên Môn  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                    <td> Bác sĩ Nguyễn Thị Mai </td>
                                        <td> November 30, 2024 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    <td>  Chăm sóc và điều trị bệnh cho cá Koi  </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                    <td> Bác sĩ Lê Minh Hùng </td>
                                    <td> November 30, 2024 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    <td>  Điều trị bệnh về ký sinh trùng cho cá Koi  </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                    <td> Bác sĩ Phạm Thị Mai </td>
                                    <td> November 30, 2024 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    <td> Tư vấn dinh dưỡng cho cá Koi </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                    <td> Bác sĩ Phạm Văn Khoa </td>
                                    <td> November 30, 2024 </td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    <td> Phẫu thuật và phục hồi cho cá Koi </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-white">Todo</h4>
                        <div class="add-items d-flex">
                            <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?">
                            <button class="add btn btn-gradient-primary font-weight-bold todo-list-add-btn" id="add-task">Add</button>
                        </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Bệnh xù vảy (Dropsy)
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked> Bệnh loét
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Bệnh sán da, sán mang
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Bệnh thối đuôi
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li class="completed">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox" checked> Bệnh đốm đỏ
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input class="checkbox" type="checkbox"> Bệnh đốm trắng
                                        </label>
                                    </div>
                                    <i class="remove mdi mdi-close-circle-outline"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


